.header {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 80px;
  font-size: 22px;
}

.currencyCalculatorModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
  background-color: antiquewhite;
}

.CurrencyBox{
  display: flex;
  align-items: center;
  column-gap: 4vh;
}

input{
  height: 4vh;
  width: 30vh;
  border-radius: 1vh;
}

select{
  height: 4vh;
  width: 10vh;
  border-radius: 0.5vh;
}

